{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
<title>Web diag tool</title>
{% endblock %}

{% block content %}
      
        <style>
        .li { 
           width: 10%;
        {
        </style>
	<div class="container">
     <p class="h2">NOC tool</p>
	   <form method="POST" class="form" action="/">
     <div class="form-group">
      	        {{ form.csrf_token }}
                {{ wtf.form_field(form.device) }}
            		{{ wtf.form_field(form.command) }}
            		{{ wtf.form_field(form.params) }}
	   </div>
	     <button type="submit" class="btn btn-primary btn-sm">Execute command</button>
	   </form>
	   <br>
           {% if result %}
              <div class="container">
		<pre>
			<code>
			{{ result }}
			</code>
		</pre>
	      </div>
           {% endif %}
          
	</div>	
{% endblock %}
{% block scripts %}
   {{ super() }}
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
{% endblock %}
